server:
  port: 8083

spring:
  application:
    name: booking-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  mvc:
    cors:
      mappings:
        "[/**]":
          allowed-origins:
            - "http://durgamaa-frontend-2025.s3-website-ap-southeast-1.amazonaws.com"
            - "http://localhost:3000"
          allowed-methods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          allowed-headers:
            - "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

logging:
  level:
    com.durgamandir.booking: INFO

