spring:
  application:
    name: donation-service
  profiles:
    active: h2
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

server:
  port: 8080

donation:
  target-amount: 5000000

logging:
  level:
    org.springframework.security: DEBUG
    com.durgamandir.donation: INFO

  mvc:
    cors:
      mappings:
        "[/**]":
          allowed-origins:
            - "http://durgamaa-frontend-2025.s3-website-ap-southeast-1.amazonaws.com"
          allowed-methods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          allowed-headers:
            - "*"
